{% extends 'polls/base.html' %}
{% block title %}create subject{% endblock %}
{% block body %}

<div class="container-fluid">

    <div class="row">

        <!-- Left Album Info -->
        <div class="col-sm-4 col-md-3">
            <div class="panel panel-default">
                <div class="panel-body">
                        <a href="{% url 'polls:create_subject' sub.id %}">
                          
                        </a>
                    <h1>{{ sub.language }} <small>{{ sub.language_description }}</small></h1>
                    <h2>{{ sub.creator }}</h2>
                </div>
            </div>
        </div>
		  <!-- Right Song Info -->
        <div class="col-sm-8 col-md-9">

            <ul class="nav nav-pills" style="margin-bottom: 10px;">
                <li role="presentation"><a href="{% url 'polls:crreate_subject' sub.id %}">View All</a></li>
                <li role="presentation" class="active"><a href="{% url 'polls:create_subject' sub.id %}">Add New Subject</a></li>
            </ul>
			<div class="panel panel-default">
				<div class="panel-body">
					<h3>Add a new Subject</h3>
					{% if error_message %}
                        <p><strong>{{ error_message }}</strong></p>
                    {% endif %}
                    
					<form class="form-horizontal" role="form" action="" method="post" enctype="multipart/form-data">
						{% csrf_token %}
						<input type="hidden" name="sub" value="{{ sub }}">
						
						<div class="form-group">
							<div class="col-sm-offset-2 col-sm-10">
								<button role="button" class="btn btn-success">Submit</button>
							</div>
						</div>
					</form>
				</div>				
			</div>
		</div>
	</div>
	
</div>
{% endblock %}